.phoneContainers {
    padding-top: 70px;
    padding-bottom: 250px;
    background: linear-gradient(180deg, #CADBEB 0%, rgba(235, 235, 235, 0.00) 100%);


    .products {
        display: flex;
        gap: 30px;
        flex-direction: column;

        .product {
            img {
                width: 270px;
            }

            display: flex;
            align-items: center;
            gap: 50px;

            .productName {
                flex-direction: column;
                display: flex;
                gap: 10px;
            }

            .input {
                display: flex;
                font-size: 35px;

                input {
                    border: 1px solid black;
                    padding: 5px;
                    border-radius: 10px;
                    background-color: white;
                    color: black;

                }
            }
        }
    }
}