.caseAirPods{
    background:  #FAFAFA;
    text-align: center;
    padding-top: 80px;
    h1{
        font-size: 64px;
        font-weight: 700;
        margin-bottom: 17px;
    }
    p{
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 40px;
    }
    .caseImg{
        margin-bottom: 160px;
    }
    h3{
        font-size: 210px;
        font-weight: 700;
        margin-bottom: 40px;
    }
    h4{
        width: 403px;
        margin: 0 auto;
        padding-bottom: 98px;
    }
    
}